.home2 {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000918;
  color: rgb(255, 255, 255);
  font-family: Oxygen;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 60px;
  width: 1000px;
}

.engineer {
  color: rgb(125, 23, 125);
  font-size: 40px;
  font-style: normal;
  font-family: Oxygen;
  font-weight: 400;
  padding-bottom: 10px;
}

.engineer2 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-style: normal;
  transition: 0.3s;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 10px;
}

.horea-danci {
  color: rgb(255, 255, 255);
  font-size: 5em; /* Adjust font size as needed */
  font-family: Oxygen;
  padding-bottom: 30px;
  padding-top: 170px;
}

.container-experience-parent {
  display: flex;

  justify-content: space-between;
}
.container-experience {
  width: 300px;
  height: 280px;
  background-color: rgba(125, 23, 125, 0.55);
  padding: 20px;
  font-size: 18px;
}

.poza-horea {
  width: 262px;
  height: 270px;
  opacity: 0.8;
  object-fit: cover;
  border-color: #7d177d;
  border-width: 8px;
}

.container-in-about {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.imagini {
  width: 120px;
  height: 120px;
  opacity: 0.5;
}

.tia {
  margin-left: 50px;
}

.container-imagini1 {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  font-size: 25px;
}

.bachelors {
  display: flex;
  font-size: 23px;
}

.title {
  margin-bottom: 25px;
  font-size: 3em;
  padding-top: 50px;
  padding-bottom: 50px;
}

.buttonCV {
  width: 215px;
  font-size: 20px;
  font-family: Oxygen;
  font-weight: 700;
  text-transform: capitalize;
}

.home-link-cv {
  text-decoration: none;
  background-color: rgba(125, 23, 125, 0.74);
}

.buttonCV:hover {
  background-color: #7d177d;
}
@media screen and (max-width: 1000px) {
  .container {
    padding: 10px;
    margin: 10px;
    width: 700px;
  }
  .buttonCV {
    font-family: Oxygen;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
  }
  .title {
    margin-bottom: 15px;
    font-size: 2.5em;
    padding-top: 0px;
    padding-bottom: 120px;
    padding-top: 120px;
  }
  .container-experience {
    width: 200px;
    height: 280px;

    background-color: rgba(125, 23, 125, 0.55);
    padding: 10px;
    font-size: 15px;
  }
  .container-imagini1 {
    width: 250px;
    display: flex;
    flex-direction: column;
    font-size: 5px;
  }
  .container-in-about {
    display: flex;
    flex-direction: row;
  }
  .tia {
    margin-left: 0px;
  }
}
@media screen and (max-width: 700px) {
  .home2 {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #000918;
    color: rgb(255, 255, 255);
    font-family: Oxygen;
  }
  .container {
    padding: 10px;
    margin: 10px;
    width: 300px;
  }
  .buttonCV {
    font-family: Oxygen;
    font-weight: 700;
    text-transform: capitalize;
    display: flex;
    align-self: center;
  }
  .title {
    display: flex;
    align-self: center;
    margin-bottom: 15px;
    font-size: 2em;

    padding-bottom: 120px;
    padding-top: 120px;
  }
  .container-experience {
    display: flex;
    flex-direction: column;

    width: 122px;
    height: auto;
    background-color: rgba(125, 23, 125, 0.55);
    padding: 5px;
    font-size: 10px;
  }
  .container-imagini1 {
    display: flex;
    flex-direction: column;
    font-size: 1px;
    align-self: center;
  }
  .container-in-about {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 10px;
  }
  .tia {
    margin-left: 0px;
  }
  .container-experience-parent {
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  .bachelors {
    display: flex;
    flex-direction: wrap;
    font-size: 15px;
    width: auto;
  }
  .imagini {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    margin-left: 30px;
  }
}
